@using BuildYourEvent.Models;
@model dynamic
@{
    Layout = "/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid" id="resultPage">
    <div class="row">

        <div class="col-md-7">
            <div class="container">
                <form action="#">
                    <div class="form-row" style="text-align:center;font-size:1.2em;">
                        <div class="col-md-3">
                            <span>Venue Styles</span>
                            <select class="form-control custom-select" name="venueStyle">
                                @foreach (Styles style in Model.VenueStyles)
                                {
                                    <option>@style.name</option>

                                }
                            </select>
                            <span>Event Date</span>
                            <input name="date" class="form-control" placeholder="Event Date" type="Date" />
                        </div>
                        <div class="col-md-6">
                            <br />
                            <span>Price per hour</span>
                            <br />
                            <input class="form-control" type="text" name="price" id="amount" readonly" />
                            <div class="form-control" id="slider-range-min"></div>
                        </div>
                        <div class="col-md-3">
                            <span>Guests</span>
                            <input class="form-control input-md" type="number" name="guests" id="guests" />
                            <br />
                            <a href="#" type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal2">
                                More Filters
                            </a>
                        </div>
                    </div>
                </form>


                <br />
                <div class="container" id="filters"></div>
                <div class="container-fluid">
                    <table class="table table-striped">
                        @if (Model.Venues != null)
                        {

                            <tr>
                                <td><h5>Name of Venue</h5></td>
                                <td><h5>Price per day</h5></td>
                                <td><h5>Guest Capacity</h5></td>
                            </tr>

                                @foreach (Venues venues in Model.Venues)
                                {
                                    <tr>
                                        <td><p><i>@venues.name</i></p></td>
                                        <td><p>$@venues.price_daily</p></td>
                                        <td><p>@venues.guest_capacity</p></td>
                                    </tr>

                                        @foreach (Photos photo in Model.Photos)
                                        {
                                            if (photo.fk_Venue == venues.id)
                                            {
                                            <img src="@Url.Content(photo.url)" height="250" width="350">
                                            <p>file: @photo.filename,venue id: @photo.fk_Venue, 
                                            url: @photo.url, id: @photo.id</p>
                                            }
                                        }


                                    
                                }



                        }
                        else
                        {
                            <br />
                            <br />
                            <p>There are no venues currently for this venue type.</p>
                        }
                    </table>
                </div>
            </div>
        </div>


        <div class="col-md-5">
            <div class="float-right" id="googleMap" style="width:100%;height:500px; "></div>
        </div>

    </div>
</div>

<!-- Modal -->
<div class="modal right fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel2">More Filters</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

            </div>

            <div class="modal-body">
                <div class="container">
                    <form action="#">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <span>Amenities</span>
                                <select class="form-control custom-select" name="amenities">
                                    @foreach (Amenities a in Model.Amenities)
                                    {
                                        <option>@a.name</option>

                                    }
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <span>Event Type</span>
                                <select class="form-control custom-select" name="eventType">
                                    @foreach (Event_Types e in Model.EventTypes)
                                    {
                                        <option>@e.name</option>

                                    }
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <span>Features</span>
                                <select class="form-control custom-select" name="features">
                                    @foreach (Features f in Model.Features)
                                    {
                                        <option>@f.name</option>

                                    }
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <span>On-Site Services</span>
                                <select class="form-control custom-select" name="onSiteServices">
                                    @foreach (On_Site_Services o in Model.OnSiteServices)
                                    {
                                        <option>@o.name</option>

                                    }
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <span>Venue Rules</span>
                                <select class="form-control custom-select" name="venueRules">
                                    @foreach (Venue_Rules r in Model.VenueRules)
                                    {
                                        <option>@r.name</option>

                                    }
                                </select>
                            </div>
                        </div>
                        <button class=" btn btn-primary">Select new filters</button>
                    </form>
                </div>
            </div><!--modal body-->
        </div><!-- modal-content -->
    </div><!-- modal-dialog -->

</div><!-- modal -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCDVghUsejUCZxuCLkGjcwb6usIOJivbnI&callback=initMap"></script>
